<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangzhun.way.weather"
    android:versionCode="2"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.zhangzhun.way.app.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6ZzZGakSTgU3AS8A4YTbAp3G" />

        <activity
            android:name="com.zhangzhun.way.weather.MainActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhangzhun.way.weather.SelectCtiyActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity android:name=".about.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <receiver
            android:name="com.zhangzhun.way.weather.WeatherWidget"
            android:label="@string/biz_widget_4_2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.zhangzhun.way.weather.WeatherWidget.TEXTINFO_LEFT_HOTAREA_ACTION" />
                <action android:name="com.zhangzhun.way.weather.WeatherWidget.WEATHERICON_HOTAREA_ACTION" />
                <action android:name="com.zhangzhun.way.weather.WeatherWidget.TEXTINFO_RIGHT_HOTAREA_ACTION" />
                <action android:name="com.zhangzhun.way.weather.WeatherWidget.TIME_LEFT_HOTAREA_ACTION" />
                <action android:name="com.zhangzhun.way.weather.WeatherWidget.TIME_RIGHT_HOTAREA_ACTION" />
                <!--
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                -->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_4x2" />
        </receiver>

        <service android:name="com.zhangzhun.way.weather.WeatherUpdateService" >
        </service>

    </application>

</manifest>